APP_NAME=Reto FullStack API
DEBUG=True
API_VERSION=v1
LOG_LEVEL=INFO

DATABASE_URL=postgresql://user:password@localhost:5432/flights_db
DATABASE_ECHO=False

CORS_ORIGINS=http://localhost:4200,https://localhost:4200,
CORS_CREDENTIALS=True
CORS_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_HEADERS=*